<!DOCTYPE html>
  <html>
    <head>
      {% load staticfiles %}
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>Django Template</title>
    </head>

    <body>

    	<style>
    		.container, .footer{
    			width: 100vw !important;
    			max-width: 100vw !important;
    			margin-left: 0 !important;
    		}
    	</style>

		<nav class="blue white-text lighten-3">
		  <div class="nav-wrapper">
		    <a href="#!" class="brand-logo">Logo</a>
		    <ul class="right hide-on-med-and-down">
		      <li><a href="">Sass</a></li>
		      <li><a href="">Components</a></li>
		    </ul>
		  </div>
		</nav>

		<div class="container">